<div class="schedule-page">
    <div class="background">
        <div class="mask1">
            <div class="mask2">
                {{> navigation }}
            </div>
        </div>
    </div>
    <section>
        <div class="row">
            <div class="small-10 small-centered">
                <div class="row">
                    <div class="medium-12 large-9 columns">
                        <h1>Sessions<small>.</small></h1>
                        <h5>Subject to change.</h5>
                    </div>
                    <div class="medium-12 large-3 columns">
                        <ul class="tabs" data-tabs id="schedule-tabs">
                            {{#each data.schedule}}
                            <li class="tabs-title{{#if @first}} is-active{{/if}}"><a href="#{{this.id}}" aria-selected="true">{{this.title}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="tabs-content" data-tabs-content="schedule-tabs">
                    {{#each data.schedule}}
                    <div class="tabs-panel is-active" id="{{this.id}}">
                        {{#each this.times}}
                            {{#if this.isEvent }}
                            <div class="row event-block">
                                <div class="medium-12 large-3 columns  vertical-centering">
                                    <div class="time">{{ @index }}</div>
                                </div>
                                <div class="medium-12 large-9 columns">
                                    <div class="event">
                                        <div class="details">
                                            {{ this.title }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/if}}
                            {{if this.isKeynote }}
                                <div class="row session-block">
                                    <div class="medium-12 large-3 columns vertical-centering">
                                        <div class="time">{{ @index }}</div>
                                    </div>
                                    <div class="medium-12 large-9 columns">
                                        <div class="keynote">
                                            <div class="room">Main Ballroom</div>
                                            <div class="details">
                                                {{ this.title }}
                                                <div class="speakers">{{ this.speaker }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/if}}
                            {{if this.Sessions}}
                                <div class="row session-block">
                                    <div class="medium-12 large-3 columns vertical-centering">
                                        <div class="time">
                                            {{ @index }}
                                        </div>
                                    </div>
                                    <div class="medium-12 large-3 columns">
                                        <div class="session">
                                            <div class="room">Main Ballroom</div>
                                            <div class="details">
                                                {{ this[main ballroom].title }}
                                                <div class="speakers">{{ this[main ballroom].speaker }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="medium-12 large-3 columns">
                                        <div class="session">
                                            <div class="room">Ballroom C</div>
                                            <div class="details">
                                                {{ this[ballroom c].title }}
                                                <div class="speakers">{{ this[ballroom c].speaker }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="medium-12 large-3 columns">
                                        <div class="session">
                                            <div class="room">Ballroom D</div>
                                            <div class="details">
                                                {{ this[ballroom d].title }}
                                                <div class="speakers">{{ this[ballroom d].speaker }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/if}}
                        {{/each}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
</div>
