<div class="speakers-page">
    <div class="background">
        <div class="mask1">
            <div class="mask2">
                {{> navigation }}
            </div>
        </div>
    </div>
    <section class="speakers">
        <div class="row">
            <div class="small-10 small-centered">
                <h1>Speakers<small>.</small></h1>
                <h5>Learn From These Great Folks</h5>

                <h3>All Speakers</h3>
                <div class="row small-up-1 medium-up-3 large-up-4">
                    {{#each data.speakers}}
                    {{#if keynote}}
                    {{else}}
                    <div class="column text-center">
                      <p>
                        <a class="speakerModal" data-bio="{{bio}}"
                        {{#if image.url}}
                          data-img="{{image.url}}"
                          {{else}}
                          data-img="https://dummyimage.com/250x250/fefefe/173249.png&text=Missing+Image"
                          {{/if}}
                          data-company="{{company}}"
                          {{#if twitter}}
                          data-twitter="https://twitter.com/{{twitter}}"
                          {{/if}}
                          {{#if github}}
                          data-github="https://github.com/{{github}}"
                          {{/if}}
                          {{#if linkedin}}
                          data-linkedin="https://www.linkedin.com/in/{{linkedin}}"
                          {{/if}}
                          data-name="{{speaker}}">
                          {{#if image.url}}
                          <img class="thumbnail" src="{{image.url}}" alt="Photo of {{speaker}}." style="border-radius: 50%">
                          {{else}}
                          <img class="thumbnail"
                          src="https://dummyimage.com/250x250/fefefe/173249.png&text=Missing+Image" alt="Photo of {{speaker}}." style="border-radius: 50%">
                          {{/if}}
                          <br>
                          <strong>{{ speaker }}</strong>
                        </a>
                        {{#if company }}
                          <br><a href="{{ companyUrl }}" target="_blank">{{ company }}</a>
                        {{/if}}
                        </p>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
</div>

<div class="reveal" id="speakerModal" aria-labelledby="speakerModalHeader" data-reveal>
    <div class="row">
        <div class="small-centered small-12 columns">
            <div class="row logo-row">
                <div class="small-centered small-10 columns text-center">
                    <img src="" id="speakerImg" class="thumbnail" alt="speaker image" style="border-radius: 50%;">
                </div>
            </div>
            <div class="row">
                <div class="small-centered small-12 columns">
                    <div class="sponsor-social-media text-center"></div>
                </div>
            </div>
            <h4 id="speakerName"></h4>
            <h5 id="speakerCompany"></h5>
            <p id="speakerBio"></p>
        </div>
    </div>
    <button class="close-button" data-close aria-label="Close Accessible Modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
