<section class="speakers-container">
    <div class="row">
        <div class="small-centered small-10">
            <div class="clearfix">
                <div class="float-left">
                    <h3>Keynotes
                        <small>.</small>
                    </h3>
                    <p>Learn from these great speakers</p>
                </div>
                <a href="/speakers" class="button hollow float-right">All Speakers</a>
            </div>
            <div class="row">
                {{#each data.speakers}}
                <div class="columns large-4 text-center">
                    <a href="/speakers/{{slug}}">
                        <img class="thumbnail" src="{{image.url}}" alt="Photo of {{speaker}}." style="border-radius: 50%;">
                    </a>
                    <h4><a href="/speakers/{{slug}}">{{speaker}}</a></strong></h4>
                    <p>{{company}}</p>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>
